/* Media Queries */
@media (min-width: 768px) {
  .md\:font-size-24 {
    font-size: var(--font-size-24);
  }
  .md\:w-61 {
    width: 61.666667%;
  }
}

@media (max-width: 840px) {
  .view {
    width: 8rem;
  }
}

@media (max-width: 768px) {
  .resizable-sidebar {
    width: 92% !important;
  }
}

/* Utility Classes */
.text-input.blue-border {
  border: 2px solid #3182ce; /* Blue border color */
}

.main-bg {
  background: url("images/main-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.gradient-bg {
  background: url("images/yellowbar.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.check-bg {
  background: url("images/check-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.mt-34 {
  margin-top: 3.4rem;
}

.ml-46 {
  margin-left: 11.5rem;
}

.ml-116 {
  margin-left: 29rem;
}

.ml-138 {
  margin-left: 34.5rem;
}

.ml-166 {
  margin-left: 41.5rem;
}

.h-50 {
  height: 12.5rem;
}

.overlay-height {
  height: calc(100% - 32px);
}

/* Component-Specific Styles */
.resizable-sidebar {
  position: absolute;
  top: 0;
  right: 1.5rem;
  bottom: 0;
  width: 23%;
  background-color: #f9f9f9;
  overflow: hidden;
}

.resizable-sidebar .resizer {
  width: 5px;
  height: 100%;
  background-color: #d1d5db;
  cursor: ew-resize;
  position: absolute;
  top: 0;
  left: -2.5px;
}

.toggle-bg {
  background: var(--color-gray-3) !important;
  border: 1px solid var(--color-gray-3) !important;
}

.toggle-switch input:checked ~ .dot {
  transform: translateX(118%) !important;
}

.toggle-switch input:checked ~ .toggle-bg {
  background: var(--color-dark-yellow) !important;
}

.open-submenu {
  top: 10%;
  width: 250px;
}

/* Custom styles for the toggle button */
.toggle-checkbox:checked + .toggle-label {
  background-color: #4ade80; /* Change to the color you want when toggled on */
}

.toggle-checkbox:checked + .toggle-label::before {
  transform: translateX(1.5rem); /* Adjust based on the size of the toggle */
}

.d-checkbox {
  accent-color: var(--color-dark-yellow);
  appearance: none;
  -webkit-appearance: none;
  font-size: 2rem;
  padding: 0.1rem;
  cursor: pointer;
  border: 2px solid var(--color-dark-yellow);
  border-radius: 2px;
}

.d-checkbox:checked {
  background-color: transparent;
}

.d-checkbox:checked::after {
  content: "✔";
  font-size: 12px;
  position: absolute;
  height: 12px;
  top: -2px;
  left: 1px;
}
