/* Roboto Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Icons */
@import url("https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css");
/* Tailwind */
@import url("https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css");

/*root default styles*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #ffffff;
  --color-light-white1: #ddd;
  --color-light-white: #fbfbfb;
  --color-light-white2: rgba(255, 255, 255, 1);
  --color-light-white3: #f9f9f9;
  --color-pure-black: #000000;
  --color-pure-black1: #060709;
  --color-light-gray: #282828;
  --color-light-black: #4d4d4d;
  --color-light-black1: #d9d9d9;
  --color-dark-white: #fdfdfd;
  --color-gray-2: #646464;
  --color-gray-3: rgba(77, 77, 77, 0.53);
  --color-gray-4: #c9c9c9;
  --color-gray-5: #686868;
  --color-gray-6: #a3a3a3;
  --color-gray-7: #b5b5b5;
  --color-gray-8: #dbd7d7;
  --color-dark-gray: rgba(0, 0, 0, 0.38);
  --color-dark-gray1: rgba(0, 0, 0, 0.25);
  --color-dark-yellow: #fdcf01;
  --color-light-pink: #ffd9d9;
  --color-light-blue: #93c5fd;
  --color-dark-red: #e53e3e;
  --bg-linear-gradient: linear-gradient(
    204deg,
    #fff 15.46%,
    rgba(217, 217, 217, 0.56) 118.36%
  );
  /*Font Family and Font Size */
  --font-family-roboto: "Roboto", sans-serif;
  --font-size-50: 50px;
  --font-size-24: 24px;
  --font-size-20: 20px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-14: 14px;
}

body {
  font-family: var(--font-family-roboto) !important;
}
.sidebar-wrapper {
  background-image: url(./images/main-bg.png);
  background-size: cover;
  background-position: center;
}

.border-color-dark-gray1 {
  border-color: var(--color-dark-gray-1);
}
.border-color-gray3 {
  border-color: var(--color-gray-4);
}
.border-color-gray4 {
  border-color: var(--color-gray-4);
}

.border-color-gray5 {
  border-color: var(--color-gray-5);
}
.border-color-gray6 {
  border-color: var(--color-gray-6);
}
.border-color-gray7 {
  border-color: var(--color-gray-7);
}
.border-color-light-gray {
  border-color: var(--color-light-gray);
}

.border-color-light-blue {
  border-color: var(--color-light-blue);
}

.bg-color-white {
  background-color: var(--color-white);
}
.bg-color-light-white {
  background-color: var(--color-light-white);
}
.bg-color-light-white3 {
  background-color: var(--color-light-white3);
}
.bg-color-dark-white {
  background-color: var(--color-dark-white);
}
.bg-color-light-gray {
  background-color: var(--color-light-gray);
}
.bg-color-dark-gray {
  background-color: var(--color-dark-gray);
}
.bg-color-dark-gray8 {
  background-color: var(--color-dark-gray);
}
.bg-color-light-blue {
  background-color: var(--color-light-blue);
}
.bg-color-light-black {
  background-color: var(--color-light-black);
}
.bg-color-light-black1 {
  background-color: var(--color-light-black1);
}
.bg-color-pure-black {
  background-color: var(--color-pure-black);
}
.bg-color-dark-yellow,
.options:hover,
.options:focus,
.options:active {
  background-color: var(--color-dark-yellow);
}

.hover-text:hover {
  color: var(--color-dark-yellow);
}
.color-white {
  color: var(--color-white);
}
.color-pure-black1 {
  color: var(--color-pure-black1);
}
.color-light-white2 {
  color: var(--color-light-white2);
}
.color-light-black {
  color: var(--color-light-black);
}
.color-light-gray {
  color: var(--color-light-gray);
}
.color-light-gray6 {
  color: var(--color-light-gray-6);
}
.color-dark-yellow {
  color: var(--color-dark-yellow);
}
.color-dark-red {
  color: var(--color-dark-red);
}

.font-size-24 {
  font-size: var(--font-size-24);
}
.font-size-20 {
  font-size: var(--font-size-20);
}
.font-size-16 {
  font-size: var(--font-size-16);
}
.font-size-14 {
  font-size: var(--font-size-14);
}
.font-size-18 {
  font-size: var(--font-size-18);
}

.sidebar-bg {
  background-image: url(./images/sidebar-bg.svg);
  background-size: cover;
  background-position: center;
}

/* sidebar */
.sidebar {
  background: url("/images/sidebar-bg.svg");
  background-size: cover;
  background-position: center;
  width: 0;
  max-width: 290px;
  transition: all 0.3s ease;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 1rem;
}
.sidebar .sidebar-container {
  min-width: 290px;
}

@media (width > 768px) {
  .sidebar {
    /* max-height: calc(100vh - 60px); */
    max-height: calc(100vh);
  }
}
@media (width < 767.98px) {
  .sidebar {
    /* max-height: calc(100vh - 45px); */
    max-height: calc(100vh);
  }
}

@media (width > 992px) {
  .sidebar {
    min-width: min(290px, 45vw);
  }
}

#sidebar-toggle:checked ~ .sidebar {
  width: 290px;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar .drop-menu .drop-list {
  max-height: 0;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: var(--color-gray-8);
}
.sidebar .drop-menu.active .drop-list {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}
.sidebar i.big-right-arrow {
  transition: 0.3s ease;
}
.sidebar .drop-menu.active i.big-right-arrow {
  transform: rotate(90deg);
}
.sidebar i.subdrop-right-arrow {
  transition: 0.3s ease;
}
.sidebar .subdrop.active i.subdrop-right-arrow {
  transform: rotate(90deg);
}
.sidebar li a:hover,
.sidebar li div.drop-menu > div:hover {
  transition: all 0.3s ease;
  background: var(--color-light-gray);
  color: var(--color-dark-yellow);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.sidebar li a.active {
  background: var(--color-light-gray);
  color: var(--color-dark-yellow);
}
.sidebar .right-arrow {
  display: none;
}
.sidebar li a.active .right-arrow {
  display: block;
}
